<a href="https://colab.research.google.com/github/XeroChoi/SeSAC.FinTech/blob/main/20230906.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(a, b):
  result = a + b
  return result

In [ ]:
sum(3,4)

7

In [ ]:
def say():
  return "HI"
say()

'HI'

In [ ]:
def sum2(a,b):
  print(a + b)
A = sum(3,4)
B = sum2(3,4)

7

In [ ]:
print(A)
print(B)  ###결과 값이 없다 리턴값이 없기 때문에

7
None

In [ ]:
sum(3, 4)
sum(a = 3, b = 4)

7

In [ ]:
def say_myself(name, old, man = True):
  print(f'나의 이름은 {name}입니다.')
  print(f'나의 이름은 {name}입니다.')
  if man:
    print('남자입니다')
  else:
    print('여자입니다')
say_myself('박명수', 20)
say_myself('홍길동', 20, False)
say_myself('홍길동', 20, True)
say_myself(old = 10, name = '뽀로로')

나의 이름은 박명수입니다.
나의 이름은 박명수입니다.
남자입니다
나의 이름은 홍길동입니다.
나의 이름은 홍길동입니다.
여자입니다
나의 이름은 홍길동입니다.
나의 이름은 홍길동입니다.
남자입니다
나의 이름은 뽀로로입니다.
나의 이름은 뽀로로입니다.
남자입니다

In [ ]:
def test2():
  local_var = 20
  return local_var
a = test2()
print(a)

20

In [ ]:
def test3():
  global local_var
  local_var = 20
test3()
print(local_var)

20

In [ ]:
def means(*args):
  sum1 = 0
  count = 0
  for i in args:
    sum1 = sum1 + i
    count = count + 1
    print(i)
  result = sum1/count
  return result
print(means(1,2,3))

1
2
3
2.0

In [ ]:
def my_name(*args):
  rst = sum(args) / len(args)
  return rst

In [ ]:
def cal():
  num1 = int(input("첫번째 숫자를 입력해주세요."))
  num2 = int(input("두번째 숫자를 입력해주세요."))
  return num1*num2, num1-num2, num1+num2, num1/num2
print(cal())

첫번째 숫자를 입력해주세요.10
두번째 숫자를 입력해주세요.5
(50, 5, 15, 2.0)

In [ ]:
def cal(num1, num2):
  return num1*num2, num1-num2, num1+num2, num1/num2

In [ ]:
 def cul2(num1, num2):
    a = input("기호를 입력하시오 : ")
    if a == '+' :
        return num1 + num2
    elif a == '-' :
        return num1 - num2
    elif a == '*' :
        return num1 * num2
    elif a == '/' :
        return num1 / num2
    elif a == '//' :
        return num1 // num2
    elif a == '%' :
        return num1 % num2

In [ ]:
class 붕어빵:
  def __init__(self,속재료):
    self.속재료 = None

In [ ]:
피자붕어빵 = 붕어빵()
피자붕어빵, 속재료 = '피자'

팥붕어빵 = 붕어빵()
팥붕어빵.속재료 = '팥'

In [ ]:
피자붕어빵 = 붕어빵('피자')
팥붕어빵 = 붕어빵('팥')

In [ ]:
class FourCal:
  def set_data(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

a = FourCal()
a.set_data(10,20)
print(a.num1, a.num2)
print(a.add())

10 20
30

In [ ]:
class FourCal:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2
  def minus(self):
    return self.num1 - self.num2
  def times(self):
    return self.num1 * self.num2
  def divide(self):
    return self.num1 / self.num2
  def symbol(self):
    a = int(input("기호를 입력하시오 : "))
    if a == '+' :
        return add()
    elif a == '-' :
        return minus()
    elif a == '*' :
        return times()
    elif a == '/' :
        return divide()
#   def cal():
#    self.num1 = int(input("첫번째 숫자를 입력해주세요."))
#    self.num2 = int(input("두번째 숫자를 입력해주세요."))
#    return self.num1*self.num2, self.num1-self.num2, self.num1+self.num2, self.num1/self.num2
# print(cal())

a = FourCal(10, 20 )
print(a.num1, a.num2)
print(a.add())
print(a.minus())
print(a.times())
print(a.divide())

10 20
30
-10
200
0.5

In [ ]:
class FourCal:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2
  def add(self):
    return self.num1 + self.num2
  def minus(self):
    return self.num1 - self.num2
  def times(self):
    return self.num1 * self.num2
  def divide(self):
    return self.num1 / self.num2

a = FourCal(10, 20)

print(a.num1, a.num2)
print(a.add())
print(a.minus())
print(a.times())
print(a.divide())

10 20
30
-10
200
0.5

In [ ]:
class BackAccount:
  def __init__(self, accountnumber, holder, balance):
    self.accountnumber = (a)
    self.holder = (b)
    self.balance = (c)
  def 입출금(self):
    return self.balance + A
a=int(input("계좌번호 입력하시오 : "))
b=int(input("이름을 입력하시오 : "))
c=int(input("잔액을 입력하시오 : "))
A = BackAccount

SyntaxError: ignored

In [ ]:
class BankAccount:
  def __init__(self, 계좌번호, 이름, 잔액):
    self.계좌번호 = 계좌번호
    self.이름 = 이름
    self.잔액 = 잔액

  def 입금(self, 금액):
    self.잔액 = self.잔액 + 금액

  def 출금(self, 금액):
    self.잔액 = self.잔액 - 금액

  def 계좌조회(self):
    print(f'{self.이름}님의 잔고는 {self.잔액}입니다.')

최진영계좌 = BankAccount('123-456-789', '최진영', 50000)
print(최진영계좌. 잔액)
최진영계좌. 입금 (50000)
print(최진영계좌. 잔액)
최진영계좌. 입금 (50000)
print(최진영계좌. 잔액)
최진영계좌.계좌조회()

50000
100000
150000
최진영님의 잔고는 150000입니다.

In [ ]:
class BankAccount:
  def __init__(self, 계좌번호, 이름, 잔액):
    self.계좌번호 = 계좌번호
    self.이름 = 이름
    self.잔액 = 잔액

  def 입금(self, 금액):
    self.잔액 = self.잔액 + 금액

  def 출금(self, 금액):
    self.잔액 = self.잔액 - 금액

  def 계좌조회(self):
    print(f'{self.name}님의 잔고는 {self.잔액}입니다.')

최진영계좌 = BankAccount('123-456-789', '최진영', 50000)
홍길동계좌 = BankAccount('231-456-780', '홍길동', 100000)
print(최진영계좌.잔액)
최진영계좌.입금(50000)
print(최진영계좌.잔액)
최진영계좌.출금(30000)
print(최진영계좌.잔액)

In [ ]:
class FourCal:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2
  def add(self):
    return self.num1 + self.num2
  def minus(self):
    return self.num1 - self.num2
  def times(self):
    return self.num1 * self.num2
  def divide(self):
    return self.num1 / self.num2

In [ ]:
class MoreFourCal(FourCal):
  def divide(self):
    if self.num2 == 0:
      return 0
    else:
      return self.num1 / self.num2

In [ ]:
a = MoreFourCal(2, 4)
a.add()

6

In [ ]:
a = MoreFourCal(2, 0)
a.divide()

0